<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.montirin.app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Montirin"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name=".service.ServisLainnyaActivity"
            android:label="Servis Lainnya"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".service.ServiceHpActivity"
            android:label="Servis HP"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".service.ServisAcActivity"
            android:label="Servis AC"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".service.ServisElektronikActivity"
            android:label="Servis Elektronik"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".service.ServisMotorActivity"
            android:label="Servis Motor"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".service.ServisMobilActivity"
            android:label="Servis Mobil"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.AccountActivity"
            android:label="Akun Saya"
            android:parentActivityName=".activity.HomeActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="Daftar Akun Baru" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="Login Mitra Montirin"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>